* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: hsla(240, 6%, 21%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --gray: hsla(240, 9%, 89%, 1);
    --dark-gray: hsla(240, 6%, 21%, 1);
    --blue: hsla(194, 97%, 31%, 1);
    font-size: 62.25%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    display: grid;
    min-height: 100vh;
    color: var(--dark-gray);
    overflow-x: hidden;
    padding: 0 10rem;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

main {
    width: 100%;
    max-width: 82rem;
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.timer-wrapper {
    width: fit-content;
    font-size: clamp(6rem, 6rem + 10vw, 11rem);
}

.timer {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.controls {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.sounds-menu {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    width: 31rem;
}

.sound-card {
    width: clamp(1rem, 4rem + 20vw, 14rem);
    height: clamp(1.5rem, 3rem + 25vw, 15rem);
    background-color: var(--gray);
    border-radius: 2.4rem;
}

.active {
    background-color: var(--blue);
}

.active svg path {
    fill: var(--white);
}

@media (max-width:800px) {
    body {
        padding: 0 1rem;
    }
    main {
        width: fit-content;
        flex-direction: column;
        height: clamp(40rem, 40rem + 35vw, 80rem);
        display: grid;
        grid-template-areas: "A" "B";
    }
    .timer-wrapper {
        grid-area: "A";
        justify-self: center;
    }
    .sounds-menu {
        grid-area: "B";
    }
}